body {
  font-family: "Computer Modern";
  background: antiquewhite;
  line-height: 1.6;
  font-size: 14pt;
  max-width: 900px;
  margin: 2lh auto 0 auto;
  padding-inline: 10px;
}

@font-face {
  font-family: "Computer Modern";
  src: url("./cmunrm-webfont.woff");
}

pre {
  display: inline;
  font-size: 12pt;
  background: #edd;
  padding-inline: 7px;
  padding-block: 5px;
  border-radius: 5px;
  overflow-x: auto;
}

.details-content {
  display: block;
  margin-block-start: 0.5lh;
  margin-inline-start: 1em;
}

.details-content::before {
  content: "Answer: ";
}

.code-block {
  display: block;
  margin-inline-start: 1em;
  padding-block: 0.5lh;
  padding-inline-start: 1.5em;
  margin-block-end: 0;
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

li {
  margin-block: 50px;
}


h2 {
    /* This is unholy... please don't copy. */
    margin-block-end: -15px;
    margin-inline-start: -40px;
}

.anchor {
    color: #777;
    font-size: 0.7em;
}

.question-anchor {
  padding-left: 1em;
}

/* .ts-playground {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
} */

